@{
    ViewBag.Title = "Home Page";
}

<div class="aboutUs">
    <h2>What Are We?</h2>
    <p>We Are Tru Tac Paintball. The largest paintball compound in the world! We Currently have FIVE locations. Two indoors, Two outdoors, and a complex with a nice mix of both.</p>
</div>
